.menu-title {
  align-items: center;
  display: inline-flex;
  gap: 8px;
}

.menu-title::before {
  background: url("{{ resource \"docs/assets/logo.svg\" }}") no-repeat center / contain;
  content: "";
  display: inline-block;
  height: 26px;
  width: 26px;
}

@media (max-width: 600px) {
  .menu-title::before {
    height: 20px;
    width: 20px;
  }
}
